@font-face {
  font-family:'dosis';
  src: url('../fonts/dosis/Dosis-Regular.ttf');

}
@font-face {
  font-family:'fosisBold';
  src: url('../fonts/dosis/Dosis-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
