nav {
 
}

.separator {
    height: 150px;
}

.page-footer {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100%;
    ;
    height: auto;

}

body {
    position: relative;
}

sub {
    font-size: 15px;
}

/**Containers**/

.par-image-container {
    position: relative;
}

.par-tex-container {
    margin-top: 5%;
    text-align: left;
}

.parallax-container {
    width: auto;
    padding-top: 5%;
    ;
}

.parallax-container {
    height: 150%;

}
.row-buttons
{
    display: inline-block;
    padding-left:1px;
}
.btn-left
{
    display: block;
}
.section-btn-right {
    display:inline-table;
   
}


.section-1 {
    display: block;
    padding-top: 5%;
    background: #FAFAFA;
    padding-bottom: 3%;
}
.content-col-right
{
    
}
.row-sub-section
{
    height: auto;
    margin-bottom: 3%;
    
}
.sub-section-1
{
    
}
.squares-section {
    display:block;
    margin-top: 15%;
    margin-bottom: 30%;
    
}
.containers-squares {
    position: relative;
 

}
.square2 {
    position: absolute;
    height: 300px;
    width: 250px;
    background-color: #d32ae2;
    margin-left: 20%;
    margin-top: -10%;
}

.square-1 {
    position: absolute;
    background-color: white;
    margin-left: 10%;
    margin-bottom: -100%;
    height: 300px;
    width: 250px;
}

.section-2 {
    padding-top: 5%;
}

.section-3 {

    padding-top: 5%;
    padding-bottom: 40%;
    background: #FAFAFA;
    height: 500px;


}

.section-4 {

    padding-top: 8%;
    background: linear-gradient(to bottom, rgba(191, 191, 191, 1) 0%, rgba(206, 206, 206, 1) 23%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    padding-bottom: 9%;
}

.content-subsection {
    display: block;
  
}

.text-section {
    position: relative;
    margin-top: 15%;

}
.text-section2 {
    position: relative;
    margin-top: 10%;

}

.container-squares
{
    position: relative;
}
.pad
{

    margin-bottom: 40%;
}
.pad2
{
    margin-top: 2%;
}


.square3 {
    position: absolute;
    height: 340px;
    width: 250px;
    background: #676767;
    margin-top: 13%;
}

.square4 {
    position: absolute;
    width: 240px;
    height: 350px;
    background: #676767;
    margin-top: -3%;
    margin-left: 4%;
}

.square5 {
    position: absolute;
    width: 240px;
    height: 410px;
    background: #676767;
    border: rgb(55, 55, 55);
    margin-top: -5%;

}

.cards-container {}

.card-m {

    position: absolute;
    height: 13%;
    width: 18%;
    background-color: #ffffff;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.mail-sus {
    width: 10%;
}

.mail-sus:focus {
    color: rgb(234, 55, 250);
    box-shadow: rgb(234, 55, 250);

}

.texts-footer {
    padding-left: 30%;
}


/** images*/

.phone1 {

   margin: 10%;
    width: 70%;
}

.phone2 {
    height: 150%;
    margin-top: -70%;

}

.phone3 {
    position: absolute;
    width: 50%;
    margin-left: 30%;
}

.img-btn {
    margin-top: 10%;
    margin-right: 0px;
    width: 100%;
    display: inline-block;


}

/** texts**/

.footer-logo {
    font-size: 25px;
    color: rgb(212, 40, 210);
}

.text-section {

    position: relative;
   
}


.title-parallax {
    font-family: 'fosisBold';
    color: #FFFF;
    text-shadow: 0px 6px 10px rgb(0, 0, 0);
    

}

.title-btn {
    display: inherit;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.btn-title2 {
    display: inherit;
    margin-top: 0px;
    font-size: 16px;
}

.left-text {
    font-size: 50px;
    writing-mode: vertical-lr;
    transform: rotate(0deg);
    color: rgb(234, 55, 250);
    margin-left: 15%;

}

.text-section2 {
    position: relative;

}

.icons-features {
    font-size: 500%;
    color: rgb(234, 55, 250);
}

.icon-subscribe {
    font-size: 95px;
    color: rgb(234, 55, 250);
}

.title-cards {
    font-size: 10%;
}

.price {
    font-size: 240%;
    color: rgb(234, 55, 250);


}

.description {

    margin-top: 15%;
    margin-bottom: 15%;
}

.title-subscribe {
    color: rgb(234, 55, 250);
}

/**butons**/

.btn-getapp {
    position: relative;
    border-radius: 20px;
    height: 80px;
    width: 250px;
    background: #1c1a1c;
    border: none;
    padding: 2%;
    display: block;
    margin-left: 1px;
    margin-right: 10px;
}

.btn-getapp:hover {
    background: rgb(116, 116, 116);

}

.btn-getapp:focus {
    background: rgb(154, 154, 154);
}

.btn-base {
    border-radius: 160px;
    background: linear-gradient(to bottom, rgba(242, 39, 198, 1) 0%, rgba(242, 39, 198, 1) 5%, rgba(209, 113, 235, 1) 97%, rgba(209, 113, 235, 1) 100%);

}

.btn-pricing {
    margin-top: 10%;
}

.btn-notify {
    margin-top: 2%;
}

/** Medias**/

@media (max-width:780px) /**Media Tablets**/
{
    .parallax-container
    {
        display:block;
        padding-top: -50%;
    }
    .par-tex-container
    {
        text-align: center;
    }
    .row-buttons
    {
       
        align-items: center;
    }
    .btn-left{
        align-content: center;
        align-items: center:
    }
    .btn-getapp
    {
 
        align-self: center;
        margin: auto;
        margin-bottom: 4% 
    }
    .left-text
    {
        margin: auto;
        writing-mode: horizontal-tb;
        display: inline-block;
        padding: inherit;
        
        
    }
    .text-left-container
    {
        padding: auto;
        text-align: center;
    }
    .text-section
    {
        margin-top: 2%;
        margin-bottom: 15%;
        text-align: center;
    }
    .btn-features
    {
        margin: auto;        
    }
    .res-square-section1
    {
        margin-top: 30%;
        margin-bottom: 60%;
        
    }
        
    .csp2
    {
        padding-left: 10%;
        padding-right: 10%;
        
    }
    .pad
    {
        
        padding-right: 15%;
        margin-bottom: 80%;
    }
    .square3
    {
        margin-left: 20%;
    }
    .phone3
    {
        margin-left: 45%;
        width: 45%;
    }
    .text-section2
    {
        text-align: center;
    }
    .btn-download
    {
        align-self: auto;
    }
    .grid-container
    {
        margin-top: 5%;
        margin-bottom: 4%;
    }
    
    
  

input:not([type]).validate + label,
input[type=text]:not(.browser-default).validate {
    width: 25%;
    border: 1px solid;
    border-color: rgb(204, 32, 232);
    border-radius: 160px;
    padding-left: 5%;
}
